<% if @presentation.errors.any? %>
  <div>
    <h2>
      <%= pluralize(@presentation.errors.count, "error") %>
      Prohibited this presentation from being created
    </h2>
    <ul>
      <% @presentation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
