<div class='main'>
  <h1> Next Event </h1>

  <% if next_event %>
    <h2><%= next_event.name %></h2>
    <h3><%= next_event.date.strftime("%B %d, %Y")%></h3>

    <% if next_event.presentations.any?%>
      <p> Presentations from: </p>

      <ul>
        <% next_event.presentations.each do |presentation| %>
          <li><%= "#{presentation.presenter_name} \u2013 #{presentation.topic}
          (#{presentation.duration} min)" %></li>
        <% end %>
      </ul>

    <% else %>
      <p>
        There are currently no presentations for this event.
        <%= render 'shared/new_presentation_link' %>
        to teach some people something!
      </p>
    <% end %>

  <% else %>
    <p>There are no upcoming events.</p>
  <% end %>
</div>
