<h1>Events</h1>

<%= link_to 'New Event', new_event_path %>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @events %>
  </tbody>
</table>
